
@import url('https://fonts.googleapis.com/css2?family=Harmattan:wght@400;500;600;700&family=Hind:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Harmattan:wght@400;500;600;700&family=Hind:wght@400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.community-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  text-align: center;
}

.sort-options {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.sort-options button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  color:black;
}

.sort-options button:hover {
  background-color: #ddd;
}

.posts-container {
  margin-bottom: 40px;
}

.user-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom:15px;
}
 
.post {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  font-family: 'Roboto',sans-serif;
}

.imageusername{
  display: flex;
  align-items: center;
}

.post-username{
  margin-top:-16px;
  font-family: 'Harmattan',sans-serif;
  font-size: 20px;
}
.post-content {
  text-align: left;
  flex: 1;
}

.post-date-and-content h3{
  font-weight: bold;
  border: none;
  padding:10px;
  font-family: 'Arial';
  border: 1px solid rgb(215, 215, 215);
  margin-bottom:5px;
  margin-top:10px;
}
.post-detail{
  border:none;
  padding:10px;
  font-family: 'Roboto',sans-serif;
  border: 1px solid rgb(215, 215, 215);
}

.post-actions{
  display: flex;
  justify-content: space-between;
  margin-top:35px;
}
.post-actions div{
  display: flex;
  align-items: center;
  height:40px;
  margin-left:10px;
}
.post-actions p{
  margin-left:5px;
}
.likebutton{
  background-color: white;
  display: center;
  margin: auto;
  padding:0px;
  width:40px;
}

.post-actions :hover{
  background-color: white;
}

.unlikeimage{
  width:25px;
  margin-right:5px;
}

.likeimage{
  width:35px;
  margin-left:-5px;
}

.date-post{
  font-style: italic;
  color:grey;
}
/*


.post-date-and-title {
  display: flex;
  justify-content: space-between;
}

.post-date-and-title p {
  color: #7b7b7b;
  font-size: 16px;
}
.post-content h3 {
  font-weight: bold;
}

.post-detail {
  color: black;
  margin-bottom: 20px;
  font-family: "Hind", sans-serif;
}

.post-username {
  color: #7b7b7b;
  margin-bottom: 10px;
  font-style: italic;
}

.post-actions button {
  background-color: #f1f1f1;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
}

.post-actions button:hover {
  background-color: #ddd;
} */
